a{
	font-family: Arial, Sans-serif;
	
}

.main_menu{
	background-color: #006600;
	height: 50px;
	padding-top: 10px;
	
}

.main_menu > ul > li{
	display: inline-block;
	border: 1px solid white;
	border-radius: 20%;
	height: 35px;
	width: 100px;
	text-align: center;
	font-size: 15px;
	transition: background-color 1s;
	position: relative;
}

.main_menu > ul > li > a{
	
	color: white;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 10px;
	box-sizing: border-box;  /*wysokośc dotyczy się razem z padingiem i borderem tzn ze podana wartosc wysokosci bedzie maksymalnie*/
	
}

.main_menu > ul > li:hover{
	background-color: gray;
	
	border-radius: 20%;
}

.submenu{
	display: none;
	text-decoration: none;
	color: white;
}

.main_menu > ul > li:hover .submenu{
	display: block;
	width: 100%;
	position: absolute;
	background-color: #b9b4b4;
	top: 49px;
	
	
}

.main_menu > ul > li:hover .submenu li{
	padding: 10px 0px;
	
}


.main_menu > ul > li.more > a > i{
	
	transition: transform 2s;}

.main_menu > ul > li.more:hover > a > i{
	transform: rotate(90deg); /*obrac położenie i o 90 stopni*/
	transition: transform 2s;
	
}


.main_menu > ul > li.more:hover .submenu::before{
	position: absolute;
	content: "\f0d8";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	top: -19px;
	font-size: 2em;
	color: #b9b4b4;
	width: 100%;
	left: 0px;
}