* {
	font-family: sans-serif;
}

.kontener {
	height: 1000px;
	border: 1px solid black;
	padding: 10px;
	display: flex;
	
	/*justify-content: flex-start;
	justify-content: flex-end;*/
	/*justify-content: space-between;*/
	/*justify-content: space-around;*/
	/*align-items: start;
	align-items: end;
	align-items: center;*/
	justify-content: flex-start;
	flex-wrap: wrap;
	
	/*flex-direction: column;
	/*flex-direction: row-reverse;*/
	flex-direction: row;
	
}

.kontener div {
	border: 1px solid red;
	background-color: yellow;
	padding: 10px;
	flex-basis: 200px;
}

@media screen and (max-width:1024px) {
	.kontener div {
		box-sizing: border-box;
		flex-basis: 50%;
	
	}
	
	
}


@media screen and (max-width:360px) {
	.kontener div {
	
	flex-basis: 100%;
	font-size: 2em;
	}
	
	.kontener {
		display: block;
	}
}
